<div id="filterrific_results">
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Usuarios</th>
          <th>Clientes</th>
          <th>Tipo</th>
          <th>Creado <%= fa_icon "calendar" %></th>
          <th>Modificado <%= fa_icon "calendar" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="stores">
        <%= render @stores %>
      </tbody>
    </table>
  </div>
  <div id="page_links">
    <%= will_paginate @stores, list_classes: %w(pagination justify-content-center), renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
