
<%= render "header" %>

<% content_for :container do %>-fluid<% end %>

<div class="row">
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col-md-8">
            <h5 class="title text-capitalize">
              <%= t('actions.new' , model: Product.model_name.human) %>
            </h5>
          </div>
        </div>
      </div>
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>